body {
  background-color: #009440;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: 20px auto;
  max-width: 600px;
}


h1 {
  font-weight: 800;
  font-size: 46px;
  line-height: 1;
  color: #ffcb00;
  text-shadow: 4px 4px 5px #302681;
}

main {
  margin-bottom: 30px;
}

form {
  padding: 20px;
  background-color: #ffcb00;
  border-radius: 10px;
  display: flex;
  box-shadow: 0px 10px 10px #302681;
  margin-bottom: 30px;
}

.instructions {
  padding: 16px;
  border: 3px solid #302681;
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: #009440;
}

.submit-button {
  margin-left: 10px;
  border-radius: 50px;
  color: #ffcb00;
  background-color: #009440;
  border-width: 2px 4px;
  font-size: 16px;
  padding: 14px 24px;
}

.recipe {
  font-size: 16px;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  line-height: 300px;
  border-left: 10px solid #ffcb00;
}

footer {
  font-family: monospace;
  font-size: 10px;
}

a {
  color: #ffcb00;
  text-decoration: none;
}
